doctype html
html
	head
		title Example
		link(rel="shortcut icon" href="vendors/images/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="css/libs.css")
		link(rel="stylesheet" type="text/css" href="css/min.css")
	body
		h1 This is an example project
		include modules/example_module
		script(src="vendors/l10n.js")
		script(src="js/libs.js")
		script(src="js/min.js")
